<section class="hero-image jumbotron">
  <div class="container">
    <!-- <h1 class="text-center">Hello.</h1> -->
  </div>
</section>

<section>
  <div class="container">
      <h1>Welcome to Art.See.</h1>
  </div>
</section>

<section>
  <div class="container">
    <h2>Latest Artwork</h2>
    <div class="row">
      <div class="col-xs-12">
        <a href=""><img class="img-responsive artwork" src="/images/1.jpg" alt="Artwork" /></a>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <a href=""><img class="img-responsive artwork" src="/images/2.jpg" alt="Artwork" /></a>
      </div>
      <div class="col-xs-12 col-md-6">
        <a href=""><img class="img-responsive artwork" src="/images/3.jpg" alt="Artwork" /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href=""><img class="img-responsive artwork" src="/images/4.jpg" alt="Artwork" /></a>
      </div>
    </div>

  </div>

</section>
